/* 

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content {
  text-align: center;
}

.home-content h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-content p {
  font-size: 1.5rem;
  color: #666;
  line-height: 1.5;
} */











/* Home.css */

.main-container {
    margin: 0;
    padding: 0;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.blur-circle1 {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, white, pink);
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
    left: 10%;
    top: 20%;
}

.blur-circle2 {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, white, pink);
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;
    right: 10%;
    top: 20%;
}

.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.landing-page .content .info h1 {
    color: #bbbbbb;
    font-size: 44px;
}

.landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #b3b3b3;
}

.landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .content .image img {
    max-width: 100%;
}

.main-image {
    width: 600px;
    height: 400px;
}

.info {
    padding: 20px;
}
